.cbox.cbox-bg
  .blocks.clearfix
    .block.block-4
      .inner
        h3#certifications Certifications
    .block.block-2
      .inner
        img(src="/assets/img/imo.png" alt="IMO" class="alignleft")
        p Complies with <a href="http://www.imo.org/ourwork/safety/regulations/pages/passengerships.aspx" target="_blank">IMO's Safety Regulations on Passenger Ships</a>
    .block.block-2
      .inner
        img(src="/assets/img/lloyds.png" alt="LLoyd's Register" class="alignleft")
        p View the <a href="/files/pdf/1149_001.pdf">Lloyd's Register Certificate of Fire Approval</a>
    .clear
    .block.block-2
      .inner
        h3#sds SDS
        p
          img.alignleft(src="/assets/img/msds.png")
          | View the <a href="/files/pdf/ALVEX-PF-MSDSREV1.pdf">Alvex-PF SDS (pdf)</a>
    .block.block-2.tech-specs
      .inner
        h3#tech-specs Technical Data Sheet
        p
          img.alignleft(src="/assets/img/tech.png")
          | View the <a href="/files/pdf/1159_001.pdf">Alvex-PF Technical Data Sheet (pdf)</a>
