.cbox.cbox-loose
  .blocks.clearfix
    .block.block-1
      .inner
        h3#about #{ company_about.title }
    .block.block-3
      .inner
        p
          a(href="#{ company.url }" target="_blank")
            img.alignright(src="/assets/img/mcallister-mills.gif" alt="McAllister Mills Logo")
          | #{ company_about.text }
