<div class="inner">
    <h2 id="details">
        Alvex PF Details
    </h2>
</div>
<div class="cbox cbox-bg">
    <div class="blocks clearfix">
        <div class="block block-4">
            <div class="inner">
                <h3>
                    Standard Product Dimensions*
                </h3>
            </div>
        </div>
        <!-- /block block-4 -->
        <div class="block block-2">
            <div class="inner">
                <table cellspacing="0" class="data-table">
                    <tbody>
                        <tr>
                            <th scope="col">
                                Product Code
                            </th>
                            <th scope="col">
                                Pipe Size
                            </th>
                        </tr>
                        <tr class="odd">
                            <td>
                                P12-38-100-6
                            </td>
                            <td>
                                12mm OD
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                P30-38-200-6
                            </td>
                            <td>
                                30mm OD
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>
                                P38-38-225-6
                            </td>
                            <td>
                                38mm OD
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                P60-38-300-6
                            </td>
                            <td>
                                60mm OD
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>
                                P80-38-425-6
                            </td>
                            <td>
                                80mm OD
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                P100-38-525-6
                            </td>
                            <td>
                                100mm OD
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>
                                P125-38-600-6
                            </td>
                            <td>
                                120mm OD
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                P150-38-650-6
                            </td>
                            <td>
                                150mm OD
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>
                                P200-38-1050-6
                            </td>
                            <td>
                                200mm OD
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="note">
                    <strong>
                        * Other sizes available
                        <br>
                        <a href="/contact">
                            Please contact us
                        </a>
                        with your special requirements
                    </strong>
                </p>
            </div>
            <!-- /inner -->
        </div>
        <!-- block block-2 -->
        <div class="block block-2">
            <div class="inner">
                <img alt="MM-038" class="attachment-block-2-image" height="400" src="/assets/img/MM-038-460x400.jpg" title="MM-038" width="460">
                </img>
            </div>
        </div>
        <!-- /block block-2 -->
    </div>
    <!-- /block -->
</div>
