.welcome
  .container
    .cbox
      .intro
        h1 Fire Protection for High Pressure Mist Systems and Other Metallic Pipes
        ul
          li Complies with the latest SOLAS Regulation No. II-2/21 & II-2/22
          blockquote "Safe Return to Port"
          a.cboxElement.video-button(href="/lib/video/index.html", title="ALVEX-PF®")
            img(alt="More Info", height="70", src="/assets/img/more-info-shadow.png", title="More Info", width="165")
      .slideshow
        .slide
          img(src="/assets/img/splash/cruise.jpg")
