<div class="cbox cbox-bg">
    <div class="inner">
        <h2 id="applications">
            Fire Protection for High Pressure Mist Systems and Other Metallic Pipes
        </h2>
    </div>
    <div class="blocks clearfix">
        <div class="block block-2">
            <div class="inner">
                <p>ALVEX PF Systems are designed to protect Fire Spray System Piping and Tubing per the latest SOLAS regulation II-2/21 and II-2/22. ALVEX PF is totally inorganic, flexible, high-temperature insulation specifically designed to provide passive fire protection for marine applications. ALVEX PF chemistry is designed to enhance biosolubility.as well as provide superior fire resistance. ALVEX PF provides high tensile strength, flexibility and superior thermal and acoustical properties. ALVEX PF is chemically stable and its thermal properties are unaffected after exposure to water immersion or high humidity. ALVEX PF is lightweight and easy to install.</p>
            </div>
        </div>
        <div class="block block-2">
            <div class="inner">
                <ul class="highlights">
                    <li>Complies with the latest SOLAS Regulation II-2/21 &amp; II-2/22</li>
                    <li>Meets A60 fire test as per IMO FTP Code Fire Test Requirements; Res.A.754(18)</li>
                    <li>Classification Temperature 1100ºC</li>
                    <li>Structural Insulation – Fire Protection for bulkheads and decks</li>
                    <li>Significant weight savings versus mineral wool systems</li>
                    <li>Flexible blanket is easy to cut and install</li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="block block-4">
            <div class="inner">
                <h2>Areas of Protection by ALVEX PF</h2>
            </div>
        </div>
        <div class="clear"></div>
        <div class="block block-2">
            <div class="inner">
                <ul class="highlights areas-of-protection">
                    <li>Water mist pipes</li>
                    <li>Propulsion system steel pipes</li>
                    <li>Navigational systems metal pipes and cables</li>
                    <li>Internal and external communications pipes and cables</li>
                    <li>Fixed fire-fighting system pipes</li>
                    <li>Bilge and ballast pipes</li>
                    <li>Water tight doors activation cables and conduits</li>
                </ul>
            </div>
        </div>
        <div class="block block-2">
            <div class="inner">
                <img src="/assets/img/2-460x400.jpg">
            </div>
        </div>
    </div>
</div>
