<div class="inner">
    <h2 id="installation">
        Installation Procedure
    </h2>
</div>
<div class="cbox cbox-bg">
    <div class="blocks install clearfix">
        <div class="block block-2">
            <div class="inner">
                <img alt="Step 1: Lay material on Pipe with Tape as shown." class="attachment-block-2-image" height="400" src="/assets/img/1-460x400.jpg" title="Step 1: Lay material on Pipe with Tape as shown." width="460">
                    <span>
                        <strong>
                            Step 1:
                        </strong>
                        Lay material on Pipe with Tape as shown.
                    </span>
                </img>
            </div>
            <!-- /inner -->
        </div>
        <!-- /block block-2 -->
        <div class="block block-2">
            <div class="inner">
                <img alt="Step 2: Wrap material around pipe." class="attachment-block-2-image" height="400" src="/assets/img/2-460x400.jpg" title="Step 2: Wrap material around pipe." width="460">
                    <span>
                        <strong>
                            Step 2:
                        </strong>
                        Wrap material around pipe.
                    </span>
                </img>
            </div>
            <!-- /inner -->
        </div>
        <!-- /block block-2 -->
        <div class="block block-2">
            <div class="inner">
                <img alt="Step 3: Remove inner layer of exposed Tape and press Tape to secure." class="attachment-block-2-image" height="400" src="/assets/img/3-460x400.jpg" title="Step 3: Remove inner layer of exposed Tape and press Tape to secure." width="460">
                    <span>
                        <strong>
                            Step 3:
                        </strong>
                        Remove inner layer of exposed Tape and press Tape to secure.
                    </span>
                </img>
            </div>
            <!-- /inner -->
        </div>
        <!-- /block block-2 -->
        <div class="block block-2">
            <div class="inner">
                <img alt="Step 4: Wrap Ties around the Tape and pull end tight and secure." class="attachment-block-2-image" height="400" src="/assets/img/4-460x400.jpg" title="Step 4: Wrap Ties around the Tape and pull end tight and secure." width="460">
                    <span>
                        <strong>
                            Step 4:
                        </strong>
                        Wrap Ties around the Tape and pull end tight and secure.
                    </span>
                </img>
            </div>
            <!-- /inner -->
        </div>
        <!-- /block block-2 -->
    </div>
    <!-- /blocks -->
</div>
