extends /layouts/base.pug

block body
  .outer-wrap
    .wrap
      block header
        include /header
      block menu
        include /nav
      block links
        include /links
      block hero
      block main
        .main-wrap
          main.main
            .container
              block content
                | !{content}
      block footer
        include /footer
