extends /layouts/default.pug

block hero
  include /home/hero.pug

block content
  include /home/intro.pug
  include /home/certifications.pug
  include /home/company.pug
  include /home/info.html
  include /home/install.html
  include /home/details.html
  include /home/updates.pug
